<div class="flex flex-col gap-1 min-h-screen h-screen bg-surface-50">

  <section-header [isSubSection]="true" subSection="Comunicazioni"></section-header>

  <div class="flex-1 flex flex-col overflow-hidden relative">
    <div class="flex items-center pr-5 text-sm text-surface-700 self-end" (click)="toggleDisplayFilter()">
      <i class="pi pi-filter text-xs"></i>
      <span class="ml-1">filtra</span>
    </div>
    <div class="flex flex-col h-screen -mt-1 p-1">
      <div class="flex-1">

        @if (schoolStore.communications().loading) {
          <div class="flex flex-col gap-4 p-4 h-screen ">
            <p-skeleton height="50px" class="w-full"/>
            <p-skeleton height="50px" class="w-full"/>
            <p-skeleton height="50px" class="w-full"/>
            <p-skeleton height="50px" class="w-full"/>
            <p-skeleton height="50px" class="w-full"/>
          </div>
        } @else {
          <p-virtualscroller [items]="this.filteredCommunications" [itemSize]="80">-->
            <ng-template #item let-item let-options="options">
              <div class="min-h-full text-lg text-surface-600" [routerLink]="item.id + '/view'">
                <div class="flex flex-col gap-1 justify-center mx-4 h-[80px] border-b-1 border-b-surface-200">
                  <!-- The height should match with itemSize property -->
                  <div class="flex justify-between h-[15px] items-center">
                    <span class="grow-1">{{ item.title }}</span>
                    @if(!item.read) {
                      <div class="text-sm text-red-400 mr-3">Nuova</div>
                    }
                    <i (click)="openContextMenu($event, item.id)" aria-haspopup="true" class="pi pi-ellipsis-v"></i>
                  </div>
                  <div class="flex gap-2">
                      <p-chip class="bg-yellow-200 text-amber-500 text-[10px] p-2 py-1"
                              label="{{item.createdAt | date: 'dd.MM.yyyy'}}"></p-chip>
                      @if(item.important) {
                        <p-chip
                          label="Importante"
                          class="bg-red-200 text-red-400 text-[10px] p-2 py-1"
                        ></p-chip>
                      }
                  </div>
                </div>
              </div>
            </ng-template>
          </p-virtualscroller>
        }
      </div>
      <div class="h-5"></div> <!-- placeholder for additional content -->
    </div>
    <div class="h-10"></div> <!-- placeholder for the footer bar height -->
  </div>
  <p-contextmenu #menu [model]="contextMenuItems"></p-contextmenu>
</div>
<div>

</div>

@if (displayFilter()) {
  <div class="fixed inset-0 z-50 opacity-100">
    <div (click)="toggleDisplayFilter()" class="absolute inset-0 bg-surface-800 opacity-50"></div>

    <div class="absolute bottom-0 w-full bg-white p-2 pb-6 rounded-t-lg shadow-lg">
      <div class="flex flex-col gap-5 p-3">
        <div class="flex self-end gap-4">
          <div class="btn-outlined" (click)="toggleDisplayFilter()">Chiudi</div>
        </div>
        <div class="flex flex-col gap-5">
          <div class="flex">
            <p-chip
              label="Importante"
              class="text-sm"
              [class]="communicationFilter.important ? 'bg-red-200 text-red-400' : 'outline-1 bg-surface-0 text-red-400'"
              (click)="communicationFilter.important = !communicationFilter.important; applyFilter()"
            ></p-chip>
          </div>
          <input [(ngModel)]="communicationFilter.text" pInputText type="text"
                 (ngModelChange)="applyFilter()" placeholder="testo comunicazione"/>
            <div class="flex gap-4">
              <p-datepicker [(ngModel)]="communicationFilter.dateFrom" (ngModelChange)="applyFilter()"
                            placeholder="dal" inputId="on_label" showIcon iconDisplay="input"
                            dateFormat="dd.mm.yy"></p-datepicker>
              <p-datepicker [(ngModel)]="communicationFilter.dateTo" (ngModelChange)="applyFilter()"
                            placeholder="al" inputId="on_label" showIcon iconDisplay="input"
                            dateFormat="dd.mm.yy"></p-datepicker>
            </div>

        </div>
      </div>
    </div>
  </div>
}

<p-confirmDialog></p-confirmDialog>
