# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project

# system files
.DS_Store
Thumbs.db

# environment files
/src/environments/*.ts

# Angular build cache
/.angular/cache
.vscode
.vercel
