<div class="w-screen h-screen ">
  <router-outlet></router-outlet>
</div>

@if(appStore.loading()) {
  <div class="fixed inset-0 bg-surface-800 opacity-50 flex items-center justify-center z-50">
    <p-progress-spinner ariaLabel="loading" />
  </div>
}

<div
  class="flex w-full justify-between fixed bottom-0 border-t-1 border-t-surface-100 pl-3 pr-3 text-surface-400 bg-surface-50">
  <div class="flex items-center justify-around w-35">
    <div routerLink="" (click)="navigateTo(NavigationSection.HOME)">
    <i class="pi pi-home"
    [class]="currentNavigationSection() == NavigationSection.HOME ? 'text-[26px] text-pink-500 text-shadow-lg' : 'text-[24px] text-surface-400'"></i>
    </div>
    <div routerLink="school" (click)="navigateTo(NavigationSection.SCHOOL)">
      <i class="pi pi-graduation-cap"
         [class]="currentNavigationSection() == NavigationSection.SCHOOL ? 'text-[26px] text-pink-500 text-shadow-lg' : 'text-[24px] text-surface-400'"></i>
    </div>
  </div>

  <div class="border-5 shadow-lg bg-pink-300 border-surface-0 rounded-full -mt-4 mb-2"
       routerLink="create"
       (click)="navigateTo(NavigationSection.CREATE)">
    <i class="pi pi-plus text-[35px] text-pink-500 p-2"></i>
  </div>

  <div class="flex items-center w-35 justify-around ">
    <div routerLink="health" (click)="navigateTo(NavigationSection.HEALTH)">
      <i class="pi pi-heart"
         [class]="currentNavigationSection() == NavigationSection.HEALTH ? 'text-[26px] text-pink-500 text-shadow-lg' : 'text-[24px] text-surface-400'"></i>
    </div>
    <div routerLink="profile" (click)="navigateTo(NavigationSection.PROFILE)">
      <i class="pi pi-user"
         [class]="currentNavigationSection() == NavigationSection.PROFILE ? 'text-[26px] text-pink-500 text-shadow-lg' : 'text-[24px] text-surface-400'"></i>
    </div>
  </div>
</div>
