<div class="flex flex-col pb-2 bg-red-400">
  <div class="flex p-4 pb-1 items-center min-h-15 text-red-800">
    <i class="pi pi-chevron-left"></i>
    <span class="ml-2 font-semibol" (click)="goBack()">Indietro</span>
    @if (mode === 'create' || mode === 'edit') {
      <div *ngIf="communicationForm.valid" class="ml-auto btn"
           (click)="saveOrModify()">{{ mode === 'create' ? 'Salva' : 'Modifica' }}
      </div>
    }
  </div>

  @if (mode === 'create' || mode === 'edit') {
    <p
      class="text-red-800 pl-4 text-lg font-semibold">{{ mode === 'create' ? 'Nuova comunicazione' : 'Modifica comunicazione' }}</p>
  } @else if (mode === 'view') {
    @if(schoolStore.currentCommunication().loading) {
      <p-skeleton class="pl-4 opacity-80" width="200px" height="30px"></p-skeleton>
    } @else {
      <p *ngIf="mode === 'view'"
         class="text-red-800 pl-4 text-lg font-semibold">{{ schoolStore.currentCommunication().data?.title }}</p>
    }
  }
</div>

<div class="border-[1px] border-red-800"></div>

@if(schoolStore.currentCommunication().loading) {
  <div class="flex flex-col m-6 gap-5">
    <p-skeleton class="" width="200px" height="20px"></p-skeleton>
    <p-skeleton class="mt-2" height="200px"></p-skeleton>
  </div>
} @else {
  @if (this.mode === 'view') {
    <div class="flex flex-col m-6 gap-5">
      <div class="flex flex-col gap-1">
        <div class="flex gap-4 text-surface-500 text-sm">
          <span>{{ schoolStore.currentCommunication().data?.createdAt | date: 'dd MMMM y' : '' : 'it'}}</span>
          <div>
            <span>Creata da: </span>
            <span class="text-surface-500 font-semibold">{{ schoolStore.currentCommunication().data?.createdBy }}</span>
          </div>
        </div>

        <div class="flex">
          @if(schoolStore.currentCommunication().data?.important) {
            <span class="p-2 bg-red-400 text-xs text-red-800 rounded-3xl px-2">Importante</span>
          }
        </div>
      </div>
      <div
        class="p-5 border-0 border-t-3 border-t-red-400 text-surface-500 rounded-sm whitespace-pre-line shadow-lg">{{ schoolStore.currentCommunication().data?.description }}
      </div>
    </div>

  } @else {
    <div class="flex flex-col gap-5 p-4" [formGroup]="communicationForm">
      <input pInputText formControlName="title" type="text" placeholder="Titolo comunicazione"/>

      <textarea pTextarea id="over_label" placeholder="descrizione" formControlName="description" rows="5" cols="30"
                style="resize: none" class="h-full"></textarea>

      <div class="flex items-center">
        <p-checkbox inputId="onlyEvents" [binary]="true" formControlName="isEvent"/>
        <label for="onlyEvents" class="ml-2 mt-1">Crea evento</label>
      </div>
      @if (this.communicationForm.get('isEvent')?.value) {
        <input pInputText formControlName="eventTitle" type="text" placeholder="Titolo evento"/>

        <p-datepicker formControlName="eventDate" placeholder="data evento" inputId="on_label" showIcon
                      iconDisplay="input" dateFormat="dd.mm.yy"></p-datepicker>
      }
    </div>
  }
}

