
<div class="mt-50 flex justify-around mx-8">
  <div class="border-1 border-b-4 border-l-4 shadow-md border-school rounded-2xl" routerLink="school" (click)="navigateToSection(CurrentSection.SCHOOL)">
    <img class="w-12 m-2" src="/icons/school.svg"/>
  </div>
  <div class="border-1 border-b-4 border-l-4 shadow-md border-diary rounded-2xl" routerLink="diary" (click)="navigateToSection(CurrentSection.DIARY)">
    <img class="w-12 m-2" src="/icons/diary.svg"/>
  </div>
  <div class="border-1 border-b-4 border-l-4 shadow-md border-health rounded-2xl" routerLink="health" (click)="navigateToSection(CurrentSection.HEALTH)">
    <img class="w-12 m-2" src="/icons/health.svg"/>
  </div>
  <div class="border-1 border-b-4 border-l-4 shadow-md border-sport rounded-2xl" routerLink="sport" (click)="navigateToSection(CurrentSection.SPORT)">
    <img class="w-12 m-2" src="/icons/sport.svg"/>
  </div>

</div>







