<div class="flex flex-col">
  <input class="m-15" pInputText type="text" pSize="small" placeholder="search"/>
</div>

<div class="flex flex-col gap-0">
  <div class="flex justify-between m-2 border-dotted rounded-lg p-2 bg-amber-50 text-amber-400">
    <div>Organizzare gita scolastica con insegnanti</div>
    <div>03 Sep.</div>
  </div>
  <div class="flex justify-between m-2 border-dotted rounded-lg p-2 bg-amber-100 text-amber-400">
    <div>Firmare il cahier des communications</div>
    <div>05 Sep.</div>
  </div>
</div>







