<div class="'flex flex-col max-h-50 mb-10 border-b-3 rounded-b-xs'" [ngClass]="[this.config.bgColor, this.config.border]">
  <div class="flex p-4 pb-1 items-center min-h-15" [class]="this.config.text">
    <i class="pi pi-chevron-left"></i>
    <span class="ml-2 font-semibol" routerLink="..">Indietro</span>
    @if(isSubSection()) {
      <div class="ml-auto btn" [routerLink]="canNavigate() ? '../communications/create' : null">Nuova</div>
    }

  </div>
  <div class="flex flex-col gap-1.5 items-center">
    <div class="h-15 items-center justify-items-center mb-0.5" [class]="this.config.text">
      <p class="text-2xl font-semibold">{{ this.config.title }}</p>
      @if(isSubSection()) {
        <p> {{ this.subSection() }}</p>
      }
    </div>
    <div
      class="flex flex-col justify-center items-center w-30 h-30 rounded-full bg-surface-100 outline-3" [class]="this.config.outline">
      <img class="w-20 h-20 " [src]="this.config.icon"/>
    </div>
  </div>
</div>
